<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Desafio Hacker da Loeffa</title>
  </head>
  <body class="bg-dark text-white" style="background-image: url('https://rocketseat.com.br/static/images/bg-stars.png');">
      <!-- As a link -->
    <nav class="navbar navbar-light" style="background-color: #7952b3;">
        <span class="navbar-text text-white font-weight-bold">
          Desafio Hacker da Loeffa
        </span>
    </nav>
    <br>
    <div class="container-fluid" id="app">
    {% load static %}
    <div class="row align-items-center">
      <div class="col mx-auto text-center">
        <img class="img-fluid align-items-center" src="{% static "banner.svg" %}" width="320px" alt="banner">
      </div>
    </div>
    <br>
    <div class="row align-items-center">
      <div class="col mx-auto align-items-center">
        <div class="text-justify text-center">
          <p>Qual é o GIF que melhor representa a cultura hacker?</p>
          <p>Faça sua votação no nosso app!</p>
        </div>
      </div>
    </div>
    <br>

    <div class="alert alert-danger" v-if="msgNotification != null" role="alert">
      {msgNotification}
    </div>

    <h3 class="font-weight-bold">
      <span style="color: yellow;" class="material-icons">star_rate</span>
        Ranking dos mais votados
      <span style="color: yellow;" class="material-icons">star_rate</span> 
    </h3>

    <div class="row row-cols-1 row-cols-md-3">

      <div class="col mb-2" v-for="gif in lstGifs" :key="gif.id">
        <div class="card bg-dark shadow-lg p-3 mb-5 rounded">
          <img :src="gif.gif_url" class="card-img-top" alt="gif-1">
          <div class="card-body">
            <h5 class="card-title">{gif.nome}</h5>
            <p class="card-text">{gif.descricao}</p>
            <div class="row">
              <div class="col-6">
                <button type="button" class="btn">
                  <span class="material-icons" style="color: greenyellow;">thumb_up</span>
                  <div class="d-inline p-2 text-white align-top">{gif.votos_positivos} votos</div>
                </button>
              </div>
              <div class="col-6">
                <button type="button" class="btn">
                  <span class="material-icons" style="color: orangered;">thumb_down</span>
                  <div class="d-inline p-2 text-white align-top">{gif.votos_negativos} votos</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script type="text/javascript">
      new Vue({
        el: '#app',
        delimiters: ['{', '}'],
        data() {
          return {
            baseUrl: "http://192.168.25.17:8000/api/",
            lstGifs: [],
            msgNotification: null
          }
        },
        created() {
          fetch(`${this.baseUrl}hacker-gifs-public`).then(response => {
            if (!response.ok) throw new Error('Error ao se conectar com o servidor, status ' + response.status)
            return response.json()
          })
          .then(data => this.lstGifs = data)
          .catch(error => this.msgNotification = error.message)
        }
      })
    </script>
  </body>
</html>